/* poppins-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/poppins-v23-latin-regular.woff2') format('woff2'); 
}

/* poppins-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/poppins-v23-latin-500.woff2') format('woff2'); 
}

/* poppins-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/poppins-v23-latin-600.woff2') format('woff2'); 
}

/* poppins-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/poppins-v23-latin-700.woff2') format('woff2'); 
}

/* poppins-800 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/poppins-v23-latin-800.woff2') format('woff2'); 
}

/* poppins-900 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/poppins-v23-latin-900.woff2') format('woff2'); 
}

:root {
  font-family: 'Poppins', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* , *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol li {
  list-style: none;
}

html {
  font-size: 62.5%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
  width: 100%;
  max-width: 140rem;
}

button:active {
  background-color: #fff;
  color: #0484C5;
}

body {
  background-color: #282B30;
}